In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics

In [2]:
df= pd.read_excel("C:\\Users\\User\\Downloads\\Maternal Health Risk Data Set.xlsx")
df

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P1,25,130,80,15.0,98.0,86,high risk
1,P2,35,140,90,13.0,98.0,70,high risk
2,P3,29,90,70,8.0,100.0,80,high risk
3,P4,30,140,85,7.0,98.0,70,high risk
4,P5,35,120,60,6.1,98.0,76,low risk
...,...,...,...,...,...,...,...,...
1009,P1010,22,120,60,15.0,98.0,80,high risk
1010,P1011,55,120,90,18.0,98.0,60,high risk
1011,P1012,35,85,60,19.0,98.0,86,high risk
1012,P1013,43,120,90,18.0,98.0,70,high risk
1013,P1014,32,120,65,6.0,101.0,76,mid risk

In [3]:
df.head()

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P1,25,130,80,15.0,98.0,86,high risk
1,P2,35,140,90,13.0,98.0,70,high risk
2,P3,29,90,70,8.0,100.0,80,high risk
3,P4,30,140,85,7.0,98.0,70,high risk
4,P5,35,120,60,6.1,98.0,76,low risk

In [4]:
print(f"Dimensions: {df.shape}")

Dimensions: (1014, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Patient Id   1014 non-null   object
 1   Age          1014 non-null   int64
 2   SystolicBP   1014 non-null   int64
 3   DiastolicBP  1014 non-null   int64
 4   BS           1014 non-null   float64
 5   BodyTemp     1014 non-null   float64
 6   HeartRate    1014 non-null   int64
 7   RiskLevel    1014 non-null   object
dtypes: float64(2), int64(4), object(2)
memory usage: 63.5+ KB

In [6]:
df.mode()

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P1,23.0,120.0,80.0,7.5,98.0,70.0,low risk
1,P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1009,P995,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,P996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1011,P997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012,P998,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1013,P999,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_highrisk=df[df['RiskLevel']=='high risk']
df_highrisk

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P1,25,130,80,15.00,98.0,86,high risk
1,P2,35,140,90,13.00,98.0,70,high risk
2,P3,29,90,70,8.00,100.0,80,high risk
3,P4,30,140,85,7.00,98.0,70,high risk
5,P6,23,140,80,7.01,98.0,70,high risk
...,...,...,...,...,...,...,...,...
1008,P1009,48,120,80,11.00,98.0,88,high risk
1009,P1010,22,120,60,15.00,98.0,80,high risk
1010,P1011,55,120,90,18.00,98.0,60,high risk
1011,P1012,35,85,60,19.00,98.0,86,high risk
1012,P1013,43,120,90,18.00,98.0,70,high risk

In [8]:
per_high=(272/1014)*100
print("Percentage of women having high risk in the data:")
print(per_high)

Percentage of women having high risk in the data:
26.82445759368836

In [9]:
df_highrisk.mode()

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P1,40.0,140.0,100.0,15.0,98.0,80.0,high risk
1,P10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
267,P995,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,P996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,P997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,P998,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,P999,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_midrisk=df[df['RiskLevel']=='mid risk']
df_midrisk

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
6,P7,23,130,70,7.01,98.0,78,mid risk
8,P9,32,120,90,6.90,98.0,70,mid risk
11,P12,19,120,80,7.00,98.0,70,mid risk
13,P14,20,120,75,7.01,100.0,70,mid risk
14,P15,48,120,80,11.00,98.0,88,mid risk
...,...,...,...,...,...,...,...,...
872,P873,17,85,60,9.00,102.0,86,mid risk
873,P874,19,120,80,7.00,98.0,70,mid risk
874,P875,20,110,60,7.00,100.0,70,mid risk
875,P876,32,120,65,6.00,101.0,76,mid risk
1013,P1014,32,120,65,6.00,101.0,76,mid risk

In [11]:
per_mid=(336/1014)*100
print("Percentage of women having mid risk in the data:")
print(per_mid)

Percentage of women having mid risk in the data:
33.13609467455622

In [12]:
df_midrisk.mode()

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P100,19.0,120.0,80.0,6.9,98.0,70.0,mid risk
1,P101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P1014,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
331,P95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,P96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,P97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,P98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,P99,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_lowrisk=df[df['RiskLevel']=='low risk']
df_lowrisk

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
4,P5,35,120,60,6.10,98.0,76,low risk
10,P11,23,90,60,7.01,98.0,76,low risk
12,P13,25,110,89,7.01,98.0,77,low risk
15,P16,15,120,80,7.01,98.0,70,low risk
19,P20,10,70,50,6.90,98.0,70,low risk
...,...,...,...,...,...,...,...,...
949,P950,59,120,80,7.50,98.0,70,low risk
950,P951,23,120,80,7.50,98.0,70,low risk
951,P952,17,85,60,7.50,102.0,86,low risk
952,P953,32,120,90,7.50,98.0,70,low risk
953,P954,42,120,80,7.50,98.0,70,low risk

In [14]:
per_low=(406/1014)*100
print("Percentage of women having low risk in the data:")
print(per_low)

Percentage of women having low risk in the data:
40.03944773175542

In [15]:
df_lowrisk.mode()

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P11,15.0,120.0,80.0,7.5,98.0,70.0,low risk
1,P13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P147,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P149,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
401,P950,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,P951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,P952,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,P953,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,P954,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_under=df[df['Age']<20]
df_under

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
11,P12,19,120,80,7.00,98.0,70,mid risk
15,P16,15,120,80,7.01,98.0,70,low risk
19,P20,10,70,50,6.90,98.0,70,low risk
23,P24,18,90,60,7.50,98.0,70,low risk
25,P26,16,100,70,7.20,98.0,80,low risk
...,...,...,...,...,...,...,...,...
996,P997,12,90,60,8.00,102.0,66,high risk
1000,P1001,12,90,60,11.00,102.0,60,high risk
1004,P1005,13,90,65,9.00,101.0,80,high risk
1005,P1006,17,90,65,7.70,103.0,67,high risk
1006,P1007,17,85,60,6.30,102.0,86,high risk

In [17]:
per_ua=(279/1014)*100
print("Percentage of under child bearing age in the data:")
print(per_ua)

Percentage of under child bearing age in the data:
27.514792899408285

In [18]:
df_under.mode()

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P1001,19.0,120.0,80.0,7.5,98.0,70.0,low risk
1,P1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P1006,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P1007,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
274,P99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,P990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,P991,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,P993,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,P997,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_normal=df[(df['Age']>=20) & (df['Age']<=35)]
df_normal

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P1,25,130,80,15.0,98.0,86,high risk
1,P2,35,140,90,13.0,98.0,70,high risk
2,P3,29,90,70,8.0,100.0,80,high risk
3,P4,30,140,85,7.0,98.0,70,high risk
4,P5,35,120,60,6.1,98.0,76,low risk
...,...,...,...,...,...,...,...,...
995,P996,32,140,90,18.0,98.0,88,high risk
997,P998,35,140,100,9.0,98.0,66,high risk
1009,P1010,22,120,60,15.0,98.0,80,high risk
1011,P1012,35,85,60,19.0,98.0,86,high risk
1013,P1014,32,120,65,6.0,101.0,76,mid risk

In [20]:
per_na=(467/1014)*100
print("Percentage of women within child bearing age in the data:")
print(per_na)

Percentage of women within child bearing age in the data:
46.0552268244576

In [21]:
df_normal.mode()

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P1,23.0,120.0,90.0,7.5,98.0,70.0,low risk
1,P1010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P1012,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P1014,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
462,P986,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,P989,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,P994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,P996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,P998,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_over=df[df['Age']>35]
df_over

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
9,P10,42,130,80,18.0,98.0,70,high risk
14,P15,48,120,80,11.0,98.0,88,mid risk
16,P17,50,140,90,15.0,98.0,90,high risk
20,P21,40,140,100,18.0,98.0,90,high risk
21,P22,50,140,80,6.7,98.0,70,mid risk
...,...,...,...,...,...,...,...,...
1003,P1004,50,130,100,16.0,98.0,76,high risk
1007,P1008,40,120,75,7.7,98.0,70,high risk
1008,P1009,48,120,80,11.0,98.0,88,high risk
1010,P1011,55,120,90,18.0,98.0,60,high risk
1012,P1013,43,120,90,18.0,98.0,70,high risk

In [23]:
per_oa=(268/1014)*100
print("Percentage of women over child bearing age in the data:")
print(per_oa)

Percentage of women over child bearing age in the data:
26.429980276134124

In [24]:
df_over.mode()

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
0,P10,50.0,120.0,80.0,11.0,98.0,70.0,high risk
1,P100,NaN,NaN,NaN,15.0,NaN,NaN,NaN
2,P1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
263,P983,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,P984,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,P992,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,P995,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,P999,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_highbp=df[(df['Age']>=18)& (df['SystolicBP']>120)&(df['DiastolicBP']>80)]
df_highbp

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
1,P2,35,140,90,13.00,98.0,70,high risk
3,P4,30,140,85,7.00,98.0,70,high risk
16,P17,50,140,90,15.00,98.0,90,high risk
17,P18,25,140,100,7.01,98.0,80,high risk
20,P21,40,140,100,18.00,98.0,90,high risk
...,...,...,...,...,...,...,...,...
995,P996,32,140,90,18.00,98.0,88,high risk
997,P998,35,140,100,9.00,98.0,66,high risk
998,P999,54,140,100,15.00,98.0,66,high risk
1002,P1003,55,140,95,19.00,98.0,77,high risk
1003,P1004,50,130,100,16.00,98.0,76,high risk

In [26]:
print(f"Dimensions: {df_highbp.shape}")

Dimensions: (130, 8)

In [27]:
df_lowbp=df[(df['Age']>=18) & (df['SystolicBP']<120)&(df['DiastolicBP']<80)]
df_lowbp

,Patient Id,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
2,P3,29,90,70,8.00,100.0,80,high risk
7,P8,35,85,60,11.00,102.0,86,high risk
10,P11,23,90,60,7.01,98.0,76,low risk
22,P23,21,90,65,7.50,98.0,76,low risk
23,P24,18,90,60,7.50,98.0,70,low risk
...,...,...,...,...,...,...,...,...
942,P943,55,100,65,7.50,98.0,66,low risk
944,P945,35,100,70,7.50,98.0,66,low risk
971,P972,28,83,60,8.00,101.0,86,high risk
990,P991,19,90,65,11.00,101.0,70,high risk
1011,P1012,35,85,60,19.00,98.0,86,high risk

In [28]:
age=int(input("Enter your age:"))
sys_bp=int(input("Enter your SystolicBP:"))
dias_bp=int(input("Enter your DiastolicBP:"))
blg=float(input("Enter your Blood Glucose level in mmol/L:"))
bd_temp=float(input("Enter your Body Temperature:"))
ht_rate=float(input("Enter your Heart Beat Rate:"))

Enter your age:23
Enter your SystolicBP:120
Enter your DiastolicBP:80
Enter your Blood Glucose level in mmol/L:7.8
Enter your Body Temperature:98
Enter your Heart Beat Rate:78

In [29]:
#age check
if((age>35)):
        flag_age=2
        print("Your age is more than the ideal age")
elif((age<=19)):
        flag_age=1
        print("Your age is less than the ideal age")
else:
        flag_age=0
        print("Your age is ideal")
#blood pressure check
if((sys_bp>120) or (dias_bp>80)):
        flag_bp=2
        print("Your blood pressure is high")
elif((sys_bp<110) or (dias_bp<70)):
        flag_bp=1
        print("Your blood pressure is low")
else:
        flag_bp=0
        print("Your blood pressure is normal")
#blood sugar check
if((blg>8.5)):
        flag_blg=2
        print("Your blood sugar is high")
elif(blg<4.5):
        flag_blg=1
        print("Your blood sugar is low")
else:
        flag_blg=0
        print("Your blood sugar is normal")
#heart rate check
if((ht_rate>85)):
        flag_ht=2
        print("Your heart rate is high")
elif(ht_rate<70):
        flag_ht=1
        print("Your heart rate is low")
else:
        flag_ht=0
        print("Your heart rate is normal")
#body temp check
if((bd_temp>99)):
        flag_bdt=2
        print("Your body temperature is high")
elif(bd_temp<96):
        flag_bdt=1
        print("Your body temperature is low")
else:
        flag_bdt=0
        print("Your body temperature is normal")

Your age is ideal
Your blood pressure is normal
Your blood sugar is normal
Your heart rate is normal
Your body temperature is normal

In [30]:
if((flag_age==0)&(flag_bp==0)&(flag_blg==0)&(flag_ht==0)&(flag_bdt==0)):
    print("You are healthy and have low risk")
elif((flag_age==2)&(flag_bp==2)&(flag_blg==2)&(flag_ht==2)&(flag_bdt==2)):
    print("You have high risk")
elif((flag_age==1)&(flag_bp==1)&(flag_blg==1)&(flag_ht==1)&(flag_bdt==1)):
    print("You have high risk due to malnourishment or being underage")
else:
    print("You have mid risk")

You are healthy and have low risk